link(rel="stylesheet", type="text/css", href="css/bootstrap.css")
link(rel="stylesheet", type="text/css", href="css/regview.css")
script(src="/js/jquery-1.7.2.min.js", type="text/javascript")
script(src="/js/bootstrap.min.js", type="text/javascript")