!!!
html
	head
		include common
	body
		div.navbar.navbar-fixed-top
			div.navbar-inner
				div.container
					a.brand(href="#") Bla
		
		// Index code
		script(type="text/javascript", src="/js/index.js");